<!DOCTYPE html>
<html lang="en">
<head>
    <title>Common Directives</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="./main.js"></script>
    <script src="./controllers/directive-controller.js"></script>
    <link rel="stylesheet" href="./style.css">

</head>
<body ng-app="commonDirectivesApp">
    <main ng-controller="directiveController">

        <input type="text" ng-model="person" />
        {{ person }}

        <input type="text" ng-model="profession">
        {{ profession }}
        <button ng-click="addPerson()">Add Person</button>

        <p ng-show="people.length > 4">Length of the people array is now more than 4</p>

        <div ng-repeat="person in people" class="scientists">
            <h3>{{ person.name }}</h3>
            <span>{{ person.profession }}</span>
            <p ng-if="person.isAlive"> Is alive </p>
            <p ng-if="!person.isAlive"> Is not alive </p>

            <button ng-click="toggleAlive($index)">Toggle Living Status</button>
        </div>


        <div ng-style="customStyle"></div>
        <button ng-click="changeDivStyle()">change style of the div</button>

        <div ng-class="{ 'ngclass-demo': showNgClassDiv }"></div>
        <button ng-click="toggleNgClassDiv()">toggle class</button>
    </main>
</body>
</html>