main {

}

.scientists {
    margin: 1em 0em;
    flex: 1;
    border: thin solid teal;
    border-radius: 5px;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
}

.ngclass-demo {
    height: 100px;
    width: 100px;
    border: 10px solid cyan;
    border-radius: 5px;
}