<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>

    <script src="./main.js"></script>
    <script src="./services/http-service.js"></script>
    <script src="./controllers/posts-controller.js"></script>
    <title>HTTP DEMO TWO</title>
</head>
<body ng-app="httpDemoTwoApp">
    <main ng-controller="postsController">
        <p ng-repeat="post in posts">
            {{ post.title }}
        </p>
    </main>
</body>
</html>