<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 1st STEP - INSTALLATION. -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="./main.js"></script>

    <title>Revision</title>
</head>
<!-- 1ST STEP - INIT -->
<body ng-app="revisionApp">
    {{ 2 + 5 }}

    {{ 7 * 10 }}
</body>
</html>