<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>

    <script src="./main.js"></script>
    <script src="./services/http-service.js"></script>
    <script src="./controllers/http-controller.js"></script>

    <link rel="stylesheet" href="./style.css">

    <title>HTTP DEMO</title>
</head>
<body ng-app="httpDemoApp">
    <main ng-controller="httpController">
        <p ng-repeat="post in posts" class="post">
            {{ post.body }}
        </p>
    </main>
</body>
</html>