<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    </head>
    <body ng-app>
        <div>
            2 + 3 = {{ 2 + 3 }}
        </div>
        <div>
            4 + 5 = {{ 4 + 5 }}
        </div>
    </body>
</html>