.padding {
    padding: 1em;
    text-align: center;
}

.btn {
    padding: 0.5em 1em;
    border: thin solid teal;
    background-color: teal;
    color: white;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: 700;
    outline: none;
    transition: box-shadow 1s;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 5px gray;
}