<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="./main.js"></script>
    <title>Directives</title>
</head>

<body ng-app="directiveApp">
    <!-- attributes on a tag, which have special meaning in Angular. -->
    <!-- Angular directives are ALWAYS prefixed with 'ng-' -->

    <main>
        <p ng-init="grade = 'TY BBA CA'">
            Hellloooooooooooo {{ grade }}
        </p>

        <input type="text" ng-model="personName">
        {{ personName }}
    </main>
</body>

</html>