<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="./main.js"></script>
    <script src="./controller/main-controller.js"></script>
</head>
<body ng-app="controllerApp">
    <main ng-controller="mainController">

        <!-- get variables from controller -->
        {{ name }}
        {{ person }}

        <!-- calling functions -->
        <br>
        {{ add(1, 5) }}

        <br>
        <!-- TWO WAY BINDING -->
        <input type="text" ng-model="name">
    </main>
</body>
</html>