<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="./main.js"></script>
    <title>Interpolations</title>
</head>

<body ng-app="interpolationApp">
    <main ng-init="name = 'Aniruddha'">
        <!-- semantic tag -->
        {{ "Aniruddha" + " is your Teacher" }}
        <br />
        {{ 4 + 5 }}
        <br />
        {{ 10 - 5 }}
        <br />
        {{ 6 * 7 }}
        <br />
        {{ 9 / 3 }}
        <br />

        {{ name }}
    </main>
</body>

</html>